<div class="product">
  <p><strong>Name: </strong><%=product.name %></p>
  
  <p><strong>Cost: </strong><%=product.cost %> $</p>

  <p><strong>Description:</strong>
  <p><%=product.description %></p>
</div>

